body {
	background: black;
	color: white;
}

*:not(svg),
*::before,
*::after {
	box-sizing: border-box;
}

.App {
	text-align: center;
	box-sizing: border-box;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

button {
	cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-float infinite 3s ease-in-out;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: rgb(112, 76, 182);
}

.spinner {
	width: 100px;
	height: 100px;
	border-style: dashed;
	border-color: white;
	border-width: 20px;
	background: radial-gradient(
		rgb(172, 167, 167) 40%,
		rgba(22, 24, 16, 0.568) 100%
	);
	border-radius: 50%;
	margin: 0 auto;
	animation: rotateSpinner 5s linear 0s infinite forwards;
}

.spinner.small {
	width: 50px;
	height: 50px;
	margin: 5em auto;
}

@keyframes App-logo-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes rotateSpinner {
	to {
		transform: rotate(360deg);
	}
}

.rounded-button {
	border: 2px solid gray;
	padding: 0.25em;
	border-radius: 50%;
	display: grid;
	/* background-color: black; */
}

.rounded-button svg {
	/* fill: white; */
}

.button-container {
	display: flex;
	gap: 1em;
	margin: 0.5em 1em;
}

.button-container .rounded-button:last-of-type {
	margin-left: auto;
}

.movie-image-container {
	width: 100%;
}

.movie-image-container img {
	width: 100%;
}

.card {
	width: 350px;
	background-color: black;
	padding-bottom: 1em;
}

.movie-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.popularity {
	color: green;
	font-weight: bold;
}

.age {
	border: 1px solid white;
	padding: 0.25em;
	align-self: stretch;
}

.movie-genre {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	padding: 0;
	margin: 0;
}

.movie-genre li {
	margin: 0;
	padding: 0;
}

.hd sub {
	border: 1px solid white;
	padding: 0.25em;
}

.hd {
	align-self: flex-start;
}

.movie-display-container {
	width: 200px;
	flex-shrink: 0;
	flex-basis: 200px;
	position: relative;
	overflow: visible;
}

.movie-container {
	display: flex;
	gap: 0.25em;
	transition: transform 0.5s linear;
}

.movie-genre-container {
	padding: 0.5em 1em;
	overflow-x: hidden;
	position: relative;
}

.arrow-right {
	position: absolute;
	top: 50%;
	left: 95%;
	transform: translateY(-50%);
	cursor: pointer;
	padding: 1em;
}

.arrow-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	cursor: pointer;
	padding: 1em;
}

.movie-title {
	font-size: 1rem;
	text-align: center;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(241, 234, 234, 0.898);
	display: flex;
	align-items: center;
	justify-content: center;
}

.movie-title-modal {
	font-size: 1rem;
	text-align: center;
	letter-spacing: 1px;
	margin-left: 1em;
	margin-right: 1em;
}

.movie-description-modal {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	padding: 1em 3em;
	z-index: 2;
}

.modal-container {
	width: 70%;
	margin: 0 auto;
}

.modal-container .button-container {
	margin-top: 1em;
	justify-content: center;
}

.modal-container .button-container .rounded-button:last-of-type {
	display: none;
}

.modal-movie-title {
	font-size: 1.5rem;
	text-align: center;
	letter-spacing: 1px;
}

.movie-description {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 1px;
}

.list-item {
	margin-top: 2em;
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
}

.no-item {
	margin-top: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
	font-size: 2rem;
}
